@import url("https://fonts.googleapis.com/css?family=Merienda&display=swap");

:root {
  --color-white: #f8f8f8;
  --color-primary: #f95428;
  --color-primary-light: #fb987d;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-white);
  height: 100vh;
  font-family: "Merienda", cursive;
}

.wrapper {
  position: relative;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

main section[id] {
  margin-top: 50px;
}

#header {
  background-color: var(--color-white);
  position: fixed;
  top: 0;
  width: 100vw;
  height: 50px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

#header + .container {
  height: 70px;
}

#nav-bar ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: auto;
}

#nav-bar ul li {
  display: inline-block;
  margin: auto 15px;
}

#header img,
footer img {
  width: 200px;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

img.mug {
  max-width: 250px;
  height: auto;
}

.mug-descriptions {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  align-items: center;
}

.mug-descriptions .descriptions .description .title {
  font-weight: bold;
  font-size: 20px;
}

.mug-descriptions .descriptions .description .text {
  margin-left: 20px;
}

section h2 {
  color: var(--color-primary);
  text-align: center;
}

section#features {
  display: grid;
  justify-content: center;
}

.video {
  box-shadow: 4px 4px 5px #ccc;
}

.price-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 15px;
  justify-items: center;
}

.price-item {
  width: 100%;
  box-shadow: 3px 3px 7px #ccc;
}

.price-item .price {
  text-align: center;
}

.button {
  cursor: pointer;
  padding: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.button.primary {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  color: var(--color-white);
}

.button.ghost {
  background-color: var(--color-white);
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.button.primary:hover,
.button.ghost:hover {
  color: var(--color-primary);
  background-color: var(--color-primary-light);
}

.buy-action {
  padding: 10px 20px;
}

.buy-action .button {
  width: 100%;
}

#form {
  text-align: center;
  padding: 30px;
}

.input-field {
  border: 1px solid var(--color-primary);
  height: 25px;
  padding: 10px;
  min-width: 300px;
}

footer {
  text-align: center;
  font-size: 14px;
}

.heart {
  color: var(--color-primary);
}

@media (max-width: 700px) {
  #header {
    display: block;
    height: 70px;
  }

  #header + .container {
    height: 90px;
  }
}
