@import url("https://fonts.googleapis.com/css?family=Merienda&display=swap");

:root {
  --color-white: #f8f8f8;
  --color-primary: #f95428;
  --color-primary-light: #fb987d;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-white);
  height: 100vh;
  font-family: "Merienda", cursive;
}

.wrapper {
  position: relative;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

#header {
  background-color: var(--color-white);
  position: fixed;
  top: 0;
  width: 100vw;
  height: 50px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

#header + .container {
  height: 70px;
}

#nav-bar ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: auto;
}

#nav-bar ul li {
  display: inline-block;
  margin: auto 15px;
}

#header img,
footer img {
  width: 200px;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

img.mug {
  max-width: 250px;
  height: auto;
}

.mug-descriptions {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  align-items: center;
}

.mug-descriptions .descriptions .description .title {
  font-weight: bold;
}

.mug-descriptions .descriptions .description .text {
  margin-left: 20px;
}

footer {
  background-color: var(--color-primary-light);
}

@media (max-width: 700px) {
  #header {
    display: block;
  }
}
