@import url("https://fonts.googleapis.com/css?family=Merienda&display=swap");

:root {
  --color-white: #f8f8f8;
  --color-primary: #f95428;
  --color-primary-light: #fb987d;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-white);
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Merienda", cursive;
}

.wrapper {
  position: relative;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

#header {
  background-color: var(--color-white);
  position: fixed;
  width: 100vw;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

#nav-bar ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: auto;
}

#nav-bar ul li {
  display: inline-block;
  margin: auto 15px;
}

#header img,
footer img {
  width: 200px;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

footer {
  background-color: var(--color-primary-light);
}

@media (max-width: 700px) {
  #header {
    display: block;
  }
}
